@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #62BFEC;
  --color-primary-hover: #8eceee;
  --color-secondary: #4A7CD2;
  --color-tertiary: #EDF2FA;
  --color-dark-purple: #4122CE;
  --color-light-purple: #9077FF80;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}

